# Node.js
node_modules/

# Archivos de entorno
.env

# Logs
*.log
logs/

# Archivos de la base de datos local
*.sqlite
*.db
*.db-wal
*.db-shm

# Archivos de configuración de IDEs
.vscode/
.idea/

# Sistema operativo
.DS_Store # macOS
Thumbs.db # Windows

# Archivos temporales y de caché
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.tgz
